{
  "openapi": "3.0.0",
  "info": {
    "title": "Magic Eden Ordinals API",
    "description": "Magic Eden Ordinals API",
    "version": "2.1.3"
  },
  "servers": [
    {
      "url": "https://api-mainnet.magiceden.dev"
    }
  ],
  "paths": {
    "/v2/ord/btc/block/activities": {
      "get": {
        "tags": [
          "Blocks"
        ],
        "summary": "Get block activities",
        "description": "Get block activities",
        "parameters": [
          {
            "name": "blockHeight",
            "in": "query",
            "description": "Block height",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Comma-separated list of activity kinds. Acceptable values are \"create\" and \"transfer\". If not specified, defaults to \"create,transfer\".",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 60,
              "default": 20,
              "multipleOf": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inscription": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "contentType": {
                                "type": "string"
                              },
                              "contentMedia": {
                                "type": "string"
                              },
                              "contentLength": {
                                "type": "number",
                                "nullable": true
                              },
                              "number": {
                                "type": "number",
                                "nullable": true
                              },
                              "sat": {
                                "type": "number",
                                "nullable": true
                              },
                              "satName": {
                                "type": "string",
                                "nullable": true
                              },
                              "satRarity": {
                                "type": "string",
                                "nullable": true
                              },
                              "satBlockHeight": {
                                "type": "number",
                                "nullable": true
                              },
                              "satBlockTime": {
                                "type": "string",
                                "nullable": true
                              },
                              "genesisTransaction": {
                                "type": "string"
                              },
                              "genesisTransactionBlockTime": {
                                "type": "string",
                                "nullable": true
                              },
                              "genesisTransactionBlockHeight": {
                                "type": "number",
                                "nullable": true
                              },
                              "genesisTransactionBlockHash": {
                                "type": "string",
                                "nullable": true
                              },
                              "parentInscriptionId": {
                                "type": "string",
                                "nullable": true
                              },
                              "metaprotocol": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          },
                          "activityType": {
                            "type": "string"
                          },
                          "blockHeight": {
                            "type": "number"
                          },
                          "blockHash": {
                            "type": "string"
                          },
                          "txId": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "output": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "offset": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "oldLocation": {
                            "type": "string",
                            "nullable": true
                          },
                          "oldAddress": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "nextCursor": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/collections/{symbol}": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get collection",
        "description": "Get collection",
        "operationId": "getCollection",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Collection symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "imageURI": {
                      "type": "string"
                    },
                    "chain": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "supply": {
                      "type": "integer"
                    },
                    "twitterLink": {
                      "type": "string"
                    },
                    "discordLink": {
                      "type": "string"
                    },
                    "websiteLink": {
                      "type": "string"
                    },
                    "min_inscription_number": {
                      "type": "integer"
                    },
                    "max_inscription_number": {
                      "type": "integer"
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/stat": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get collection stats",
        "description": "Get collection stats",
        "parameters": [
          {
            "name": "collectionSymbol",
            "in": "query",
            "description": "Collection symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "floorPrice": {
                      "type": "string"
                    },
                    "inscriptionNumberMin": {
                      "type": "string"
                    },
                    "inscriptionNumberMax": {
                      "type": "string"
                    },
                    "owners": {
                      "type": "string"
                    },
                    "pendingTransactions": {
                      "type": "string"
                    },
                    "supply": {
                      "type": "string"
                    },
                    "totalListed": {
                      "type": "string"
                    },
                    "totalVolume": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/popular_collections": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get popular collection stats",
        "description": "Get popular collection stats",
        "operationId": "getPopularCollectionStats",
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "description": "Time window",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "6h",
                "1d",
                "7d",
                "30d"
              ],
              "default": "1d"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "floorPrice": {
                        "type": "string"
                      },
                      "inscriptionNumberMin": {
                        "type": "string"
                      },
                      "inscriptionNumberMax": {
                        "type": "string"
                      },
                      "owners": {
                        "type": "string"
                      },
                      "pendingTransactions": {
                        "type": "string"
                      },
                      "supply": {
                        "type": "string"
                      },
                      "totalListed": {
                        "type": "string"
                      },
                      "totalVolume": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collection_stats/search/bitcoin": {
      "servers": [
        {
          "url": "https://stats-mainnet.magiceden.dev"
        }
      ],
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get collection statistics",
        "description": "Get collection statistics",
        "operationId": "getCollectionStats",
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "description": "Time window",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "1h",
                "6h",
                "1d",
                "7d",
                "30d"
              ],
              "default": "1d"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "volumePercentageChange",
                "totalVolume",
                "sales",
                "salesPercentageChange",
                "totalSales",
                "floorPrice",
                "floorPricePercentageChange",
                "topOffer",
                "listedOverSupply",
                "ownerPercentage",
                "pending",
                "marketCap"
              ],
              "default": "volume"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v2/ord/btc/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activities",
        "description": "Get activities. Can be filtered by collectionSymbol, kind, tokenId, ownerAddress. By default, sort by createdAt desc",
        "operationId": "getActivities",
        "parameters": [
          {
            "name": "collectionSymbol",
            "in": "query",
            "description": "Collection symbol",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Activity kind",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "transfer",
                "create",
                "list",
                "delist",
                "buying_broadcasted",
                "mint_broadcasted"
              ],
              "default": "buying_broadcasted"
            }
          },
          {
            "name": "tokenId",
            "in": "query",
            "description": "Token id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ownerAddress",
            "in": "query",
            "description": "Owner address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "inscriptionMin",
            "in": "query",
            "description": "Inscription number min",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "inscriptionMax",
            "in": "query",
            "description": "Inscription number max",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "satRarity",
            "in": "query",
            "description": "sat rarity",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "common",
                "uncommon",
                "rare",
                "epic",
                "legendary",
                "mythic"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kind": {
                            "type": "string"
                          },
                          "tokenId": {
                            "type": "string"
                          },
                          "chain": {
                            "type": "string"
                          },
                          "collectionSymbol": {
                            "type": "string"
                          },
                          "collection": {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string"
                              },
                              "imageURI": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            }
                          },
                          "tokenInscriptionNumber": {
                            "type": "string"
                          },
                          "oldLocation": {
                            "type": "string"
                          },
                          "newLocation": {
                            "type": "string"
                          },
                          "oldOwner": {
                            "type": "string"
                          },
                          "newOwner": {
                            "type": "string"
                          },
                          "txValue": {
                            "type": "number"
                          },
                          "txId": {
                            "type": "string"
                          },
                          "listedPrice": {
                            "type": "number"
                          },
                          "txBlockNumber": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "sellerPaymentReceiverAddress": {
                            "type": "string"
                          },
                          "buyerPaymentAddress": {
                            "type": "string"
                          },
                          "brc20TransferAmt": {
                            "type": "number"
                          },
                          "brc20ListedUnitPrice": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/activities/trades": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get all activities, not dependent on collection",
        "description": "Get activities. Optional cursor and limit parameters",
        "operationId": "getActivitiesTrades",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tokenId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "listedPrice": {
                            "type": "integer"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "tokenInscriptionNumber": {
                            "type": "integer",
                            "nullable": true
                          },
                          "collectionSymbol": {
                            "type": "string",
                            "nullable": true
                          },
                          "newOwner": {
                            "type": "string"
                          },
                          "oldOwner": {
                            "type": "string",
                            "nullable": true
                          },
                          "txId": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/tokens": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "Get tokens",
        "description": "Get tokens, can be filtered by collectionSymbol, owner, tokenIds",
        "operationId": "getTokens",
        "parameters": [
          {
            "name": "tokenIds",
            "in": "query",
            "description": "Comma-separated list of token IDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionSymbol",
            "in": "query",
            "description": "Collection symbol",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ownerAddress",
            "in": "query",
            "description": "Owner address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showAll",
            "in": "query",
            "description": "Show all items including the listed and unlisted ones",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "inscriptionMin",
            "in": "query",
            "description": "Inscription number min",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "inscriptionMax",
            "in": "query",
            "description": "Inscription number max",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "sort by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "priceAsc",
                "priceDesc",
                "listedAtAsc",
                "listedAtDesc",
                "inscriptionNumberAsc",
                "inscriptionNumberDesc",
                "brc20UnitPriceAsc",
                "brc20UnitPriceDesc"
              ],
              "default": "priceAsc"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "description": "min price",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": "max price",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "satRarity",
            "in": "query",
            "description": "sat rarity",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "common",
                "uncommon",
                "rare",
                "epic",
                "legendary",
                "mythic"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "type": "string"
                          },
                          "collection": {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string"
                              },
                              "imageURI": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            }
                          },
                          "contentURI": {
                            "type": "string"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "contentBody": {
                            "type": "string"
                          },
                          "contentPreviewURI": {
                            "type": "string"
                          },
                          "sat": {
                            "type": "number"
                          },
                          "satName": {
                            "type": "string"
                          },
                          "satRarity": {
                            "type": "string"
                          },
                          "genesisTransaction": {
                            "type": "string"
                          },
                          "genesisTransactionBlockTime": {
                            "type": "string"
                          },
                          "genesisTransactionBlockHeight": {
                            "type": "number"
                          },
                          "genesisTransactionBlockHash": {
                            "type": "string"
                          },
                          "inscriptionNumber": {
                            "type": "number"
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "attributes": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "trait_type": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "owner": {
                            "type": "string"
                          },
                          "collectionSymbol": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "locationBlockHeight": {
                            "type": "number"
                          },
                          "locationBlockTime": {
                            "type": "string"
                          },
                          "locationBlockHash": {
                            "type": "string"
                          },
                          "outputValue": {
                            "type": "number"
                          },
                          "output": {
                            "type": "string"
                          },
                          "mempoolTxId": {
                            "type": "string"
                          },
                          "mempoolTxTimestamp": {
                            "type": "string"
                          },
                          "listed": {
                            "type": "boolean"
                          },
                          "listedAt": {
                            "type": "string"
                          },
                          "listedPrice": {
                            "type": "number"
                          },
                          "listedMakerFeeBp": {
                            "type": "number"
                          },
                          "listedSellerReceiverAddress": {
                            "type": "string"
                          },
                          "listedForMint": {
                            "type": "boolean"
                          },
                          "brc20TransferAmt": {
                            "type": "number"
                          },
                          "brc20ListedUnitPrice": {
                            "type": "number"
                          },
                          "domain": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/raresats/listings": {
      "get": {
        "tags": [
          "Rare Sats"
        ],
        "summary": "Get Listings",
        "description": "Get Rare Sats Listings by a Variety of Filters and Sorting Orders",
        "parameters": [
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort By",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "priceAsc",
                  "priceDesc",
                  "listedAtAsc",
                  "listedAtDesc",
                  "blockNumberAsc",
                  "blockNumberDesc",
                  "blockTimeAsc",
                  "blockTimeDesc",
                  "satRangeAsc",
                  "satRangeDesc",
                  "unitPriceAsc",
                  "unitPriceDesc"
                ]
              },
              "default": [
                "priceAsc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 100,
              "maximum": 500,
              "default": 100,
              "multipleOf": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 20000,
              "default": 0,
              "multipleOf": 100
            }
          },
          {
            "name": "satributes",
            "in": "query",
            "description": "Filter listings that have the given satributes in the same sat range",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Common",
                  "Uncommon",
                  "Rare",
                  "Epic",
                  "Legendary",
                  "Black Uncommon",
                  "Black Rare",
                  "Black Epic",
                  "Black Legendary",
                  "Mythic",
                  "Palindrome",
                  "Uniform Palinception",
                  "Perfect Palinception",
                  "Paliblock Palindrome",
                  "Vintage",
                  "Nakamoto",
                  "Block 9",
                  "Block 9 450x",
                  "Block 286",
                  "Block 78",
                  "Block 666",
                  "First Transaction",
                  "Pizza",
                  "Taproot",
                  "Alpha",
                  "Omega",
                  "JPEG",
                  "Legacy",
                  "Hitman"
                ]
              }
            }
          },
          {
            "name": "minListedAt",
            "in": "query",
            "description": "Filter items that were listed after the given timestamp",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxListedAt",
            "in": "query",
            "description": "Filter items that were listed before the given timestamp",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "description": "Filter by minimum listed price in satoshis",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": "Filter by maximum listed price in satoshis",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minUtxoSize",
            "in": "query",
            "description": "Filter by minimum utxo size in satoshis",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxUtxoSize",
            "in": "query",
            "description": "Filter by maximum utxo size in satoshis",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minSatRange",
            "in": "query",
            "description": "Filter by minimum sat range in sats",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxSatRange",
            "in": "query",
            "description": "Filter by maximum sat range in sats",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minBlockNumber",
            "in": "query",
            "description": "Filter listings that only contain sats that were created after the given block number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxBlockNumber",
            "in": "query",
            "description": "Filter listings that only contain sats that were created before the given block number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minBlockTimestamp",
            "in": "query",
            "description": "Filter listings that only contain sats that were created after the given timestamp",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxBlockTimestamp",
            "in": "query",
            "description": "Filter listings that only contain sats that were created before the given timestamp",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "tokens": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "genesisTransaction": {
                              "type": "string"
                            },
                            "genesisTransactionBlockTime": {
                              "type": "string"
                            },
                            "genesisTransactionBlockHash": {
                              "type": "string"
                            },
                            "genesisTransactionBlockHeight": {
                              "type": "number"
                            },
                            "outputValue": {
                              "type": "number"
                            },
                            "owner": {
                              "type": "string"
                            },
                            "listed": {
                              "type": "boolean"
                            },
                            "listedAt": {
                              "type": "string"
                            },
                            "listedPrice": {
                              "type": "number"
                            },
                            "listedSellerReceiverAddress": {
                              "type": "string"
                            },
                            "minBlockHeight": {
                              "type": "number"
                            },
                            "maxBlockHeight": {
                              "type": "number"
                            },
                            "minBlockTime": {
                              "type": "string"
                            },
                            "maxBlockTime": {
                              "type": "string"
                            },
                            "minSatRange": {
                              "type": "number"
                            },
                            "maxSatRange": {
                              "type": "number"
                            },
                            "minUnitPrice": {
                              "type": "number"
                            },
                            "maxUnitPrice": {
                              "type": "number"
                            },
                            "satRanges": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "from": {
                                    "type": "number"
                                  },
                                  "to": {
                                    "type": "number"
                                  },
                                  "parentFrom": {
                                    "type": "number"
                                  },
                                  "parentTo": {
                                    "type": "number"
                                  },
                                  "satributes": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "Common",
                                        "Uncommon",
                                        "Rare",
                                        "Epic",
                                        "Legendary",
                                        "Black Uncommon",
                                        "Black Rare",
                                        "Black Epic",
                                        "Black Legendary",
                                        "Mythic",
                                        "Palindrome",
                                        "Uniform Palinception",
                                        "Perfect Palinception",
                                        "Paliblock Palindrome",
                                        "Vintage",
                                        "Nakamoto",
                                        "Block 9",
                                        "Block 9 450x",
                                        "Block 286",
                                        "Block 78",
                                        "Block 666",
                                        "First Transaction",
                                        "Pizza",
                                        "Taproot",
                                        "Alpha",
                                        "Omega",
                                        "JPEG",
                                        "Legacy",
                                        "Hitman"
                                      ]
                                    }
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "sequence": {
                                    "type": "number"
                                  },
                                  "unitPrice": {
                                    "type": "number"
                                  },
                                  "blockInfo": {
                                    "type": "object",
                                    "properties": {
                                      "blockHash": {
                                        "type": "string"
                                      },
                                      "blockHeight": {
                                        "type": "number"
                                      },
                                      "blockTime": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/raresats/wallet/utxos": {
      "get": {
        "tags": [
          "Rare Sats"
        ],
        "summary": "Get Rare Sats by Address",
        "description": "Get Rare Sats by Address",
        "parameters": [
          {
            "name": "walletAddress",
            "in": "query",
            "description": "Wallet Address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listed",
            "in": "query",
            "description": "Get only the rare sats that are listed if set to true",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 40,
              "multipleOf": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset - the `nextOffset` cursor received from the request of the previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tokens",
                    "total"
                  ],
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "chain": {
                                "type": "string"
                              },
                              "collection": {
                                "type": "object",
                                "properties": {
                                  "chain": {
                                    "type": "string"
                                  },
                                  "imageURI": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  }
                                }
                              },
                              "contentURI": {
                                "type": "string"
                              },
                              "contentType": {
                                "type": "string"
                              },
                              "contentBody": {
                                "type": "string"
                              },
                              "contentPreviewURI": {
                                "type": "string"
                              },
                              "sat": {
                                "type": "number"
                              },
                              "satName": {
                                "type": "string"
                              },
                              "satRarity": {
                                "type": "string"
                              },
                              "genesisTransaction": {
                                "type": "string"
                              },
                              "genesisTransactionBlockTime": {
                                "type": "string"
                              },
                              "genesisTransactionBlockHeight": {
                                "type": "number"
                              },
                              "genesisTransactionBlockHash": {
                                "type": "string"
                              },
                              "inscriptionNumber": {
                                "type": "number"
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "attributes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "trait_type": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "owner": {
                                "type": "string"
                              },
                              "collectionSymbol": {
                                "type": "string"
                              },
                              "location": {
                                "type": "string"
                              },
                              "locationBlockHeight": {
                                "type": "number"
                              },
                              "locationBlockTime": {
                                "type": "string"
                              },
                              "locationBlockHash": {
                                "type": "string"
                              },
                              "outputValue": {
                                "type": "number"
                              },
                              "output": {
                                "type": "string"
                              },
                              "mempoolTxId": {
                                "type": "string"
                              },
                              "mempoolTxTimestamp": {
                                "type": "string"
                              },
                              "listed": {
                                "type": "boolean"
                              },
                              "listedAt": {
                                "type": "string"
                              },
                              "listedPrice": {
                                "type": "number"
                              },
                              "listedMakerFeeBp": {
                                "type": "number"
                              },
                              "listedSellerReceiverAddress": {
                                "type": "string"
                              },
                              "listedForMint": {
                                "type": "boolean"
                              },
                              "brc20TransferAmt": {
                                "type": "number"
                              },
                              "brc20ListedUnitPrice": {
                                "type": "number"
                              },
                              "domain": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "rareSatsUtxo": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "txId": {
                                    "type": "string"
                                  },
                                  "vout": {
                                    "type": "number"
                                  },
                                  "value": {
                                    "type": "number"
                                  },
                                  "address": {
                                    "type": "string"
                                  },
                                  "blockInfo": {
                                    "type": "object",
                                    "properties": {
                                      "blockHash": {
                                        "type": "string"
                                      },
                                      "blockHeight": {
                                        "type": "number"
                                      },
                                      "blockTime": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "listedPrice": {
                                    "type": "number"
                                  },
                                  "satRanges": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "from": {
                                          "type": "number"
                                        },
                                        "to": {
                                          "type": "number"
                                        },
                                        "parentFrom": {
                                          "type": "number"
                                        },
                                        "parentTo": {
                                          "type": "number"
                                        },
                                        "satributes": {
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "enum": [
                                              "Common",
                                              "Uncommon",
                                              "Rare",
                                              "Epic",
                                              "Legendary",
                                              "Black Uncommon",
                                              "Black Rare",
                                              "Black Epic",
                                              "Black Legendary",
                                              "Mythic",
                                              "Palindrome",
                                              "Uniform Palinception",
                                              "Perfect Palinception",
                                              "Paliblock Palindrome",
                                              "Vintage",
                                              "Nakamoto",
                                              "Block 9",
                                              "Block 9 450x",
                                              "Block 286",
                                              "Block 78",
                                              "Block 666",
                                              "First Transaction",
                                              "Pizza",
                                              "Taproot",
                                              "Alpha",
                                              "Omega",
                                              "JPEG",
                                              "Legacy",
                                              "Hitman"
                                            ]
                                          }
                                        },
                                        "amount": {
                                          "type": "number"
                                        },
                                        "sequence": {
                                          "type": "number"
                                        },
                                        "unitPrice": {
                                          "type": "number"
                                        },
                                        "blockInfo": {
                                          "type": "object",
                                          "properties": {
                                            "blockHash": {
                                              "type": "string"
                                            },
                                            "blockHeight": {
                                              "type": "number"
                                            },
                                            "blockTime": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "hasUninscribedRareSat": {
                                    "type": "boolean"
                                  },
                                  "floorValue": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        ]
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "nextOffset": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/raresats/listing-psbt": {
      "post": {
        "tags": [
          "Rare Sats"
        ],
        "summary": "Get Batch Listing PSBT",
        "description": "Get Rare Sats Batch Listing PSBT for Signing",
        "requestBody": {
          "description": "Rare Sats Batch Listing PSBT Post Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "listings"
                ],
                "properties": {
                  "listings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "utxoId",
                        "satRangePrices"
                      ],
                      "properties": {
                        "sellerReceiveAddress": {
                          "type": "string",
                          "description": "Default to the utxo owner address if not specified"
                        },
                        "publicKey": {
                          "type": "string"
                        },
                        "utxoId": {
                          "type": "string"
                        },
                        "satRangePrices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "from",
                              "to",
                              "parentFrom",
                              "parentTo",
                              "satributes"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "from": {
                                "type": "number"
                              },
                              "to": {
                                "type": "number"
                              },
                              "parentFrom": {
                                "type": "number"
                              },
                              "parentTo": {
                                "type": "number"
                              },
                              "unitPrice": {
                                "type": "number"
                              },
                              "satributes": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "Common",
                                    "Uncommon",
                                    "Rare",
                                    "Epic",
                                    "Legendary",
                                    "Black Uncommon",
                                    "Black Rare",
                                    "Black Epic",
                                    "Black Legendary",
                                    "Mythic",
                                    "Palindrome",
                                    "Uniform Palinception",
                                    "Perfect Palinception",
                                    "Paliblock Palindrome",
                                    "Vintage",
                                    "Nakamoto",
                                    "Block 9",
                                    "Block 9 450x",
                                    "Block 286",
                                    "Block 78",
                                    "Block 666",
                                    "First Transaction",
                                    "Pizza",
                                    "Taproot",
                                    "Alpha",
                                    "Omega",
                                    "JPEG",
                                    "Legacy",
                                    "Hitman"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results",
                    "failed",
                    "unsignedCombinedPSBTBase64",
                    "toSignInputs",
                    "toSignSigHash"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "sellerReceiveAddress",
                          "price",
                          "utxoId",
                          "unsignedListingPSBTBase64",
                          "makerFee"
                        ],
                        "properties": {
                          "sellerReceiveAddress": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "utxoId": {
                            "type": "string"
                          },
                          "unsignedListingPSBTBase64": {
                            "type": "string"
                          },
                          "makerFee": {
                            "type": "number"
                          },
                          "publicKey": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "unsignedCombinedPSBTBase64": {
                      "type": "string",
                      "description": "The PSBT to be signed by the owner of the rare sats"
                    },
                    "toSignInputs": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "toSignSigHash": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/raresats/listing": {
      "post": {
        "tags": [
          "Rare Sats"
        ],
        "summary": "Submit Batch Listing",
        "description": "Submit Batch Listing using the signed PSBT received from `GET /listing-psbt`",
        "requestBody": {
          "description": "Rare Sats Batch Listing Post Request Body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "listings",
                  "signedCombinedPSBTBase64"
                ],
                "properties": {
                  "listings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "sellerReceiveAddress",
                        "price",
                        "utxoId",
                        "satRangePrices",
                        "signedListingPSBTBase64",
                        "makerFee"
                      ],
                      "properties": {
                        "sellerReceiveAddress": {
                          "type": "string"
                        },
                        "price": {
                          "description": "The total price of the listed rare sats utxo. Must be equal to the sum of the price of each sat range",
                          "type": "number"
                        },
                        "utxoId": {
                          "type": "string"
                        },
                        "satRangePrices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "from",
                              "to",
                              "parentFrom",
                              "parentTo",
                              "satributes"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "from": {
                                "type": "number"
                              },
                              "to": {
                                "type": "number"
                              },
                              "parentFrom": {
                                "type": "number"
                              },
                              "parentTo": {
                                "type": "number"
                              },
                              "unitPrice": {
                                "type": "number"
                              },
                              "satributes": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "Common",
                                    "Uncommon",
                                    "Rare",
                                    "Epic",
                                    "Legendary",
                                    "Black Uncommon",
                                    "Black Rare",
                                    "Black Epic",
                                    "Black Legendary",
                                    "Mythic",
                                    "Palindrome",
                                    "Uniform Palinception",
                                    "Perfect Palinception",
                                    "Paliblock Palindrome",
                                    "Vintage",
                                    "Nakamoto",
                                    "Block 9",
                                    "Block 9 450x",
                                    "Block 286",
                                    "Block 78",
                                    "Block 666",
                                    "First Transaction",
                                    "Pizza",
                                    "Taproot",
                                    "Alpha",
                                    "Omega",
                                    "JPEG",
                                    "Legacy",
                                    "Hitman"
                                  ]
                                }
                              }
                            }
                          }
                        },
                        "signedListingPSBTBase64": {
                          "description": "Same as the signedCombinedPSBTBase64",
                          "type": "string"
                        },
                        "makerFee": {
                          "description": "Will be deprecated",
                          "type": "number"
                        },
                        "publicKey": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "signedCombinedPSBTBase64": {
                    "description": "The selling PSBT must be signed by the rare sats owner. The unsigned PSBT can be generated using the `POST /listing-psbt` endpoint",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "listed",
                    "failed"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "listed": {
                      "type": "number"
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/runes/psbt/order/create": {
      "post": {
        "tags": [
          "Runes"
        ],
        "summary": "Get an unsigned PSBT for creating a rune sell order",
        "description": "Get an unsigned PSBT for creating a rune sell order",
        "requestBody": {
          "description": "PSBT Post Request Body for creating a rune sell order",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "side",
                  "rune",
                  "makerRunesPublicKey",
                  "makerRunesAddress",
                  "makerReceiveAddress",
                  "utxos",
                  "expiresAt"
                ],
                "properties": {
                  "side": {
                    "type": "string",
                    "enum": [
                      "sell"
                    ],
                    "description": "Currently only 'sell' orders are supported."
                  },
                  "rune": {
                    "type": "string",
                    "pattern": "^[A-Z]{1,26}$",
                    "description": "Rune symbol must contain only uppercase letters and be between 1 and 26 characters long."
                  },
                  "makerRunesPublicKey": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^([0-9a-f]){66}$"
                      },
                      {
                        "pattern": "^([0-9a-f]){64}$"
                      }
                    ],
                    "description": "Bitcoin public key, either a standard or x-only format."
                  },
                  "makerRunesAddress": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^(bc|tb)1q[023456789acdefghjklmnpqrstuvwxyz]{38,58}$"
                      },
                      {
                        "pattern": "^(bc|tb)1p[023456789acdefghjklmnpqrstuvwxyz]{58}$"
                      },
                      {
                        "pattern": "^[32][1-9A-HJ-NP-Za-km-z]{33,34}$"
                      }
                    ],
                    "description": "Bitcoin address, supporting native segwit, Taproot, or P2SH formats."
                  },
                  "makerReceiveAddress": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^(bc|tb)1q[023456789acdefghjklmnpqrstuvwxyz]{38,58}$"
                      },
                      {
                        "pattern": "^(bc|tb)1p[023456789acdefghjklmnpqrstuvwxyz]{58}$"
                      },
                      {
                        "pattern": "^[32][1-9A-HJ-NP-Za-km-z]{33,34}$"
                      }
                    ],
                    "description": "Bitcoin receive address for the transaction, supporting native segwit, Taproot, or P2SH formats."
                  },
                  "utxos": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "required": [
                        "location",
                        "priceSats"
                      ],
                      "properties": {
                        "location": {
                          "type": "string",
                          "description": "Location identifier for the UTXO."
                        },
                        "priceSats": {
                          "type": "integer",
                          "minimum": 10000,
                          "maximum": 3000000000,
                          "description": "Price in satoshis, within specified limits."
                        }
                      }
                    }
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expiration date and time of the order."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "orderPsbtBase64"
                  ],
                  "properties": {
                    "orderPsbtBase64": {
                      "type": "string",
                      "description": "Base64-encoded unsigned PSBT (Partially Signed Bitcoin Transaction) of the sell order."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/runes/order/create": {
      "post": {
        "tags": [
          "Runes"
        ],
        "summary": "Submit a signed PSBT for creating a rune sell order",
        "description": "Submit a signed PSBT for creating a rune sell order",
        "requestBody": {
          "description": "PSBT Post Request Body for creating a rune sell order",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "side",
                  "signedPsbtBase64",
                  "symbol",
                  "makerRunesPublicKey",
                  "makerRunesAddress",
                  "makerReceiveAddress",
                  "expiresAt"
                ],
                "properties": {
                  "side": {
                    "type": "string",
                    "enum": [
                      "sell"
                    ],
                    "description": "Only 'sell' orders are currently supported."
                  },
                  "signedPsbtBase64": {
                    "type": "string",
                    "description": "Base64-encoded signed PSBT (Partially Signed Bitcoin Transaction)."
                  },
                  "symbol": {
                    "type": "string",
                    "description": "Symbol representing the asset being transacted."
                  },
                  "makerRunesPublicKey": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^([0-9a-f]){66}$"
                      },
                      {
                        "pattern": "^([0-9a-f]){64}$"
                      }
                    ],
                    "description": "Maker's Bitcoin public key, either a standard or x-only format."
                  },
                  "makerRunesAddress": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^(bc|tb)1q[023456789acdefghjklmnpqrstuvwxyz]{38,58}$"
                      },
                      {
                        "pattern": "^(bc|tb)1p[023456789acdefghjklmnpqrstuvwxyz]{58}$"
                      },
                      {
                        "pattern": "^[32][1-9A-HJ-NP-Za-km-z]{33,34}$"
                      }
                    ],
                    "description": "Maker's Bitcoin address, supporting native segwit, Taproot, or P2SH formats."
                  },
                  "makerReceiveAddress": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^(bc|tb)1q[023456789acdefghjklmnpqrstuvwxyz]{38,58}$"
                      },
                      {
                        "pattern": "^(bc|tb)1p[023456789acdefghjklmnpqrstuvwxyz]{58}$"
                      },
                      {
                        "pattern": "^[32][1-9A-HJ-NP-Za-km-z]{33,34}$"
                      }
                    ],
                    "description": "Maker's Bitcoin receive address for the transaction, supporting native segwit, Taproot, or P2SH formats."
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expiration date and time for the order."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "orderIds"
                  ],
                  "properties": {
                    "orderIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "Array of UUIDs for successfully created orders."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/runes/psbt/order/cancel": {
      "post": {
        "tags": [
          "Runes"
        ],
        "summary": "Get an unsigned message for cancelling a rune sell order",
        "description": "Get an unsigned message for cancelling a rune sell order",
        "requestBody": {
          "description": "Post Request Body for cancelling a rune sell order",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderIds",
                  "makerAddress",
                  "makerPublicKey"
                ],
                "properties": {
                  "orderIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Array of UUIDs of the orders to be cancelled; cannot be empty and maximum of 20.",
                    "minItems": 1,
                    "maxItems": 20
                  },
                  "makerAddress": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^(bc|tb)1q[023456789acdefghjklmnpqrstuvwxyz]{38,58}$"
                      },
                      {
                        "pattern": "^(bc|tb)1p[023456789acdefghjklmnpqrstuvwxyz]{58}$"
                      },
                      {
                        "pattern": "^[32][1-9A-HJ-NP-Za-km-z]{33,34}$"
                      }
                    ],
                    "description": "Maker's Bitcoin address, supporting native segwit, Taproot, or P2SH formats."
                  },
                  "makerPublicKey": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^([0-9a-f]){66}$"
                      },
                      {
                        "pattern": "^([0-9a-f]){64}$"
                      }
                    ],
                    "description": "Maker's Bitcoin public key, either a standard or x-only format."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "orderIds",
                    "psbtBase64"
                  ],
                  "properties": {
                    "orderIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "Array of UUIDs for successfully cancelled orders."
                    },
                    "token": {
                      "type": "string",
                      "description": "JWT token of cancellation request."
                    },
                    "message": {
                      "type": "string",
                      "description": "Unsigned message of cancellation request."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/runes/order/cancel": {
      "post": {
        "tags": [
          "Runes"
        ],
        "summary": "Submit a signed message for cancelling a rune sell order",
        "description": "Submit a signed message for cancelling a rune sell order",
        "requestBody": {
          "description": "Post Request Body for cancelling a rune sell order",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "signature",
                  "orderIds",
                  "makerAddress",
                  "makerPublicKey",
                  "token"
                ],
                "properties": {
                  "signature": {
                    "type": "string",
                    "description": "A BIP322 signed version of the message requested from /v2/ord/btc/runes/psbt/order/cancel"
                  },
                  "orderIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Array of UUIDs of the orders to be cancelled; cannot be empty and maximum of 20.",
                    "minItems": 1,
                    "maxItems": 20
                  },
                  "makerAddress": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^(bc|tb)1q[023456789acdefghjklmnpqrstuvwxyz]{38,58}$"
                      },
                      {
                        "pattern": "^(bc|tb)1p[023456789acdefghjklmnpqrstuvwxyz]{58}$"
                      },
                      {
                        "pattern": "^[32][1-9A-HJ-NP-Za-km-z]{33,34}$"
                      }
                    ],
                    "description": "Maker's Bitcoin address, supporting native segwit, Taproot, or P2SH formats."
                  },
                  "makerPublicKey": {
                    "type": "string",
                    "oneOf": [
                      {
                        "pattern": "^([0-9a-f]){66}$"
                      },
                      {
                        "pattern": "^([0-9a-f]){64}$"
                      }
                    ],
                    "description": "Maker's Bitcoin public key, either a standard or x-only format."
                  },
                  "token": {
                    "type": "string",
                    "description": "JWT token of cancellation request from /v2/ord/btc/runes/psbt/order/cancel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "orderIds"
                  ],
                  "properties": {
                    "orderIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "Array of UUIDs for successfully cancelled orders."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/runes/market/{rune}/info": {
      "get": {
        "tags": [
          "Runes"
        ],
        "summary": "Get rune market info",
        "description": "Get market market info for a specific rune",
        "parameters": [
          {
            "name": "rune",
            "in": "path",
            "description": "Rune symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rune": {
                      "type": "string"
                    },
                    "ticker": {
                      "type": "string"
                    },
                    "totalSupply": {
                      "type": "string"
                    },
                    "formattedTotalSupply": {
                      "type": "string"
                    },
                    "divisibility": {
                      "type": "integer"
                    },
                    "imageURI": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "discordLink": {
                      "type": "string",
                      "nullable": true
                    },
                    "twitterLink": {
                      "type": "string",
                      "nullable": true
                    },
                    "minOrderSize": {
                      "type": "integer",
                      "nullable": true
                    },
                    "maxOrderSize": {
                      "type": "integer",
                      "nullable": true
                    },
                    "pendingTxnCount": {
                      "type": "integer",
                      "nullable": true
                    },
                    "floorUnitPrice": {
                      "type": "object",
                      "properties": {
                        "formatted": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "nullable": true
                    },
                    "marketCap": {
                      "type": "integer",
                      "nullable": true
                    },
                    "volume": {
                      "type": "object",
                      "properties": {
                        "24h": {
                          "type": "integer",
                          "nullable": true
                        },
                        "7d": {
                          "type": "integer",
                          "nullable": true
                        },
                        "30d": {
                          "type": "integer",
                          "nullable": true
                        }
                      }
                    }
                  },
                  "nullable": true
                }
              }
            }
          }
        }
      }
    },
    "/v2/ord/btc/runes/orders/{rune}": {
      "get": {
        "tags": [
          "Runes"
        ],
        "summary": "Get orders for a specific rune",
        "description": "Get orders for a specific rune",
        "parameters": [
          {
            "name": "rune",
            "in": "path",
            "description": "The rune symbol for which orders are requested.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Filter by order side, currently only 'sell' orders are supported.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sell"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting order of the results. Default is 'unitPriceAsc'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "unitPriceAsc",
                "unitPriceDesc",
                "totalPriceAsc",
                "totalPriceDesc"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset for the results. Default is 0, and increments of 100 are supported up to 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2000,
              "multipleOf": 100
            }
          },
          {
            "name": "includePending",
            "in": "query",
            "description": "Whether to include pending orders in the results. Default is false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with an array of orders for the specified rune.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "formattedAmount": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
[...]
